/* style.css */
body{
  background: rgb(0, 0, 0);
  color: green;
  font-size: 30px;
  font-family: Impact;
}
h1{
  font-family: Phosphate;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: Cooper Black;
  color: red;
  font-weight: lighter;
  font-size: 40px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: blue;
  font-family: Comic sans MS;
}
